In [10]:
import pandas as pd

# Baseline

In [11]:
log_file = '03.10_21.47_baseline'

summary = pd.read_csv(f'../logs/training_results_{log_file}.csv', index_col=0)

round(summary, 2)

       train_rmse  train_mape   valid_rmse  valid_mape
model
ridge  2980898.44      126.17  69232965.61      165.37
rf      979506.13       17.29  69123324.36       62.13
xgb     404656.41       30.16  69131958.65       71.69
ada    2718819.30      322.03  69204771.38      407.79
stack  1223240.68       27.80  69123771.60       66.57

# Hyperparameter Tuning

In [12]:
log_file = '03.10_23.01'

ridge_results = pd.read_excel(f'../logs/tuning_results_{log_file}.xlsx', engine='openpyxl', sheet_name='ridge', index_col=0)
rf_results = pd.read_excel(f'../logs/tuning_results_{log_file}.xlsx', engine='openpyxl', sheet_name='rf', index_col=0)
xgb_results = pd.read_excel(f'../logs/tuning_results_{log_file}.xlsx', engine='openpyxl', sheet_name='xgb', index_col=0)
ada_results = pd.read_excel(f'../logs/tuning_results_{log_file}.xlsx', engine='openpyxl', sheet_name='ada', index_col=0)

In [13]:
ridge_results.sort_values(by='valid_mape')

   model    train_rmse  train_mape    valid_rmse  valid_mape    alpha
4  ridge  3.938377e+07  286.047063  5.189878e+06  232.830759   10.000
5  ridge  3.993059e+07  295.589195  3.611121e+06  268.346579  100.000
3  ridge  3.922219e+07  360.670853  6.857705e+06  311.705862    1.000
2  ridge  3.921160e+07  388.618274  7.240843e+06  345.653230    0.100
1  ridge  3.921143e+07  392.747732  7.287430e+06  350.151723    0.010
0  ridge  3.921143e+07  392.986580  7.292240e+06  350.645773    0.001

In [14]:
rf_results.sort_values(by='valid_mape').head(10)

,model,train_rmse,train_mape,valid_rmse,valid_mape,max_depth,max_features,min_samples_leaf,min_samples_split,n_estimators,random_state
216,rf,2.798358e+07,18.720027,2.100571e+06,51.157717,20.0,1,1,2,10,42
8,rf,2.832533e+07,26.562518,2.285923e+06,51.729354,NaN,1,1,10,10,42
224,rf,2.833004e+07,28.314281,2.285174e+06,52.778715,20.0,1,1,10,10,42
16,rf,3.430975e+07,30.032243,5.612127e+06,55.201782,NaN,1,2,5,10,42
340,rf,3.455264e+07,31.927090,5.613287e+06,55.254289,30.0,1,2,5,10,42
12,rf,3.430912e+07,29.246572,5.603579e+06,55.862460,NaN,1,2,2,10,42
5,rf,1.781419e+07,26.846998,6.491038e+06,55.886342,NaN,1,1,5,50,42
225,rf,1.775123e+07,29.069605,4.723304e+06,55.983131,20.0,1,1,10,50,42
1,rf,1.769300e+07,20.218257,6.531980e+06,56.058839,NaN,1,1,2,50,42
336,rf,3.455468e+07,30.808048,5.788395e+06,56.840600,30.0,1,2,2,10,42

In [15]:
xgb_results.sort_values(by='valid_mape').head(10)

,model,train_rmse,train_mape,valid_rmse,valid_mape,colsample_bytree,gamma,learning_rate,max_depth,min_child_weight,n_estimators,random_state,subsample
1598,xgb,530779.213599,31.341420,2.483027e+06,56.203119,1.0,0.1,0.1,10,1,100,42,1.0
1841,xgb,530779.213599,31.341420,2.483027e+06,56.203119,1.0,0.5,0.1,10,1,100,42,1.0
2084,xgb,530779.213599,31.341420,2.483027e+06,56.203119,1.0,1.0,0.1,10,1,100,42,1.0
1898,xgb,494140.659901,25.961741,2.476577e+06,56.871254,1.0,0.5,0.2,6,1,200,42,1.0
1655,xgb,494140.659901,25.961741,2.476577e+06,56.871254,1.0,0.1,0.2,6,1,200,42,1.0
2141,xgb,494140.659901,25.961741,2.476577e+06,56.871254,1.0,1.0,0.2,6,1,200,42,1.0
1676,xgb,525972.369767,32.764912,2.459424e+06,57.108761,1.0,0.1,0.2,10,1,50,42,1.0
1919,xgb,525972.369767,32.764912,2.459424e+06,57.108761,1.0,0.5,0.2,10,1,50,42,1.0
2162,xgb,525972.369767,32.764912,2.459424e+06,57.108761,1.0,1.0,0.2,10,1,50,42,1.0
1679,xgb,421024.060651,19.597091,2.456197e+06,57.353687,1.0,0.1,0.2,10,1,100,42,1.0

In [16]:
ada_results.sort_values(by='valid_mape').head(10)

,model,train_rmse,train_mape,valid_rmse,valid_mape,learning_rate,loss,n_estimators,random_state
6,ada,3.995022e+07,125.870393,2.542740e+06,120.978758,0.01,exponential,30,42
0,ada,3.995202e+07,127.435172,2.521244e+06,121.863204,0.01,linear,30,42
8,ada,2.548868e+06,129.167303,2.660070e+06,122.411371,0.01,exponential,100,42
7,ada,2.560439e+06,128.290945,2.647509e+06,122.858831,0.01,exponential,50,42
1,ada,2.512854e+06,129.294024,2.595691e+06,123.621822,0.01,linear,50,42
3,ada,2.518688e+06,132.830639,2.568710e+06,126.486952,0.01,square,30,42
2,ada,2.609584e+06,137.254117,2.776432e+06,129.987065,0.01,linear,100,42
4,ada,2.590175e+06,140.039429,2.676675e+06,131.220229,0.01,square,50,42
5,ada,2.668672e+06,147.705132,2.898206e+06,137.162523,0.01,square,100,42
12,ada,2.786578e+06,168.516932,2.960567e+06,153.985997,0.10,square,30,42