<a href="https://colab.research.google.com/github/data602sps/assignments/blob/master/05_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

movies.csv - https://www.kaggle.com/datasets/bharatnatrayn/movies-dataset-for-feature-extracion-prediction/
mymoviedb.csv - https://www.kaggle.com/datasets/disham993/9000-movies-dataset

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [75]:
# setup
import pandas as pd
import numpy as np
import os
import re

from zipfile import ZipFile
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [76]:
# read in data
api.dataset_download_file('bharatnatrayn/movies-dataset-for-feature-extracion-prediction/','movies.csv')

zf = ZipFile('movies.csv.zip')
zf.extractall()
zf.close()
os.remove('movies.csv.zip')

movies = pd.read_csv('movies.csv')
os.remove('movies.csv')

In [77]:
movies

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [78]:
movies.describe()

            RATING      RunTime
count  8179.000000  7041.000000
mean      6.921176    68.688539
std       1.220232    47.258056
min       1.100000     1.000000
25%       6.200000    36.000000
50%       7.100000    60.000000
75%       7.800000    95.000000
max       9.900000   853.000000

In [79]:
print('Number of unique values per column')
for col in movies.columns:
    print(f'{col} - {len(movies[col].value_counts())}')
    
print('\nNumber of NAs per column')
for col in movies.columns:
    print(f'{col} - {len(movies[pd.isnull(movies[col])])}')

Number of unique values per column
MOVIES - 6817
YEAR - 438
GENRE - 510
RATING - 82
ONE-LINE - 8688
STARS - 7877
VOTES - 4129
RunTime - 261
Gross - 332

Number of NAs per column
MOVIES - 0
YEAR - 644
GENRE - 80
RATING - 1820
ONE-LINE - 0
STARS - 0
VOTES - 1820
RunTime - 2958
Gross - 9539

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.  

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. Groupby(), agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [80]:
'''
1. Modify multiple column names
'''
movies.columns =  ['title', 'year', 'genre', 'avg_rating', 'description', 'stars_directors', 'nb_votes', 'run_time', 'gross']
movies.columns

Index(['title', 'year', 'genre', 'avg_rating', 'description',
       'stars_directors', 'nb_votes', 'run_time', 'gross'],
      dtype='object')

In [81]:
'''
2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.
3. Fix missing and invalid values in data.
4. Create new columns based on existing columns or calculations.
5. Drop column(s) from your dataset.
10. Check whether numeric values are present in a given column of your dataframe.
'''
movies.dtypes

title               object
year                object
genre               object
avg_rating         float64
description         object
stars_directors     object
nb_votes            object
run_time           float64
gross               object
dtype: object

In [82]:
## Correcting the year column

# Removing non-numeric characters
movies.year = movies.year.apply(lambda x: re.sub(r'[\(\)\–A-za-z\s+]','', str(x)))

# Splitting double years
movies['year_start'] = movies.year.apply(lambda x: x[:4])
movies['year_end'] = movies.year.apply(lambda x: x[4:])

# Replace empty values ('') with NaN
movies.year_start = movies.year_start.replace('', np.nan)
movies.year_end = movies.year_end.replace('', np.nan)

# Fix NaNs in year_end, replacing them with year_start
movies.year_end = movies.apply(
    lambda x: x.year_start if pd.isnull(x.year_end) else x.year_end, 
    axis = 1
)

# Convert to float
movies.year_start = movies.year_start.astype(float)
movies.year_end = movies.year_end.astype(float)

# Removing original movies column
movies = movies.drop('year', axis = 1)

movies[['year_start', 'year_end']].head()

   year_start  year_end
0      2021.0    2021.0
1      2021.0    2021.0
2      2010.0    2022.0
3      2013.0    2013.0
4      2021.0    2021.0

In [99]:
## Correcting genre column

# Remove linebreaks
movies.genre = movies.genre.apply(lambda x: re.sub(r'\n', '', str(x)))

movies.genre.head()

0        Action, Horror, Thriller
1    Animation, Action, Adventure
2         Drama, Horror, Thriller
3    Animation, Adventure, Comedy
4           Action, Crime, Horror
Name: genre, dtype: object

In [83]:
## Correcting and separating the stars_directors column

# Remove linebreaks
movies.stars_directors = movies.stars_directors.apply(lambda x: re.sub(r'\n', '', str(x)))

# Extract directors
movies['director'] = movies.stars_directors.apply(lambda x: re.search(r'(?<=Director:)[A-Za-z\s\.\']+', str(x)))
movies.director = movies.director.apply(lambda x: x.group() if x != None else np.nan)

# Extract stars
movies['stars'] = movies.stars_directors.apply(lambda x: re.search(r'(?<=Stars:)[A-Za-z\s\.\'\,]+', str(x)))
movies.stars = movies.stars.apply(lambda x: x.group() if x != None else np.nan)

# Removing original stars_directors column
movies = movies.drop('stars_directors', axis = 1)

movies[['director','stars']].head()

            director                                              stars
0    Peter Thorwarth  Peri Baumeister, Carl Anton Koch, Alexander Sc...
1                NaN  Chris Wood, Sarah Michelle Gellar, Lena Headey...
2                NaN  Andrew Lincoln, Norman Reedus, Melissa McBride...
3                NaN  Justin Roiland, Chris Parnell, Spencer Grammer...
4  Matthias Schweigh                                  Matthias Schweigh

In [84]:
## Correcting the nb_votes column

# Removing non-numeric characters
movies.nb_votes = movies.nb_votes.apply(lambda x: re.sub(r'\,','', str(x)))

# Convert to float
movies.nb_votes = movies.nb_votes.astype(float)

movies.nb_votes.head()

0     21062.0
1     17870.0
2    885805.0
3    414849.0
4         NaN
Name: nb_votes, dtype: float64

In [85]:
## Correcting the gross column

# Removing non-numeric characters
movies.gross = movies.gross.apply(lambda x: re.sub(r'[\$\s+A-za-z]','', str(x)))

# Replace empty values ('') with NaN
movies.gross = movies.gross.replace('', np.nan).astype(float)

# Replacing millions style expression
movies.gross = movies.gross.apply(lambda x: x * 10**6)

movies.gross.dropna().head()

77      75470000.0
85     402450000.0
95      89220000.0
111    315540000.0
125     57010000.0
Name: gross, dtype: float64

In [86]:
'''
6. Drop a row(s) from your dataset.
'''

## Removing duplicate rows
movies = movies[~movies.duplicated()]

In [98]:
'''
7. Sort your data based on multiple variables. 
'''

movies.sort_values(by = ['avg_rating', 'gross', 'year_end'], ascending = [False, False, False], na_position = 'last')

,title,genre,avg_rating,description,nb_votes,run_time,gross,year_start,year_end,director,stars
7640,BoJack Horseman,"\nAnimation, Comedy, Drama",9.9,\nBoJack reconnects with faces from his past.,12369.0,26.0,NaN,2014.0,2020.0,Amy Winfrey,"Will Arnett, Amy Sedaris, Alison Brie, Paul F...."
8510,Avatar: The Last Airbender,"\nAnimation, Action, Adventure",9.9,\nAang's moment of truth arrives. Can he defea...,8813.0,92.0,NaN,2005.0,2008.0,Joaquim Dos Santos,"Zach Tyler, Mae Whitman, Jack De Sena, Michael..."
9892,Dexter,"\nCrime, Drama, Mystery",9.8,\nDexter and Arthur find themselves on a colli...,11638.0,51.0,NaN,2006.0,2013.0,Steve Shill,"Michael C. Hall, Julie Benz, Jennifer Carpente..."
8509,Avatar: The Last Airbender,"\nAnimation, Action, Adventure",9.8,\nZuko battles his sister with Katara's help f...,5283.0,92.0,NaN,2005.0,2008.0,Joaquim Dos Santos,"Zach Tyler, Mae Whitman, Jack De Sena, Michael..."
8541,The Midnight Gospel,"\nAnimation, Adventure, Comedy",9.7,\nClancy joins his mother on an emotional jour...,1731.0,36.0,NaN,2020.0,2020.0,NaN,"Joey Diaz, Deneen Fendig, Phil Hendrie, Steve ..."
...,...,...,...,...,...,...,...,...,...,...,...
9904,Pretty Smart,\nComedy,NaN,\nAdd a Plot\n,NaN,NaN,NaN,NaN,NaN,Pamela Fryman,"Cinthya Carmona, Olivia Macklin, Emily Osment,..."
9907,Pretty Smart,\nComedy,NaN,\nAdd a Plot\n,NaN,NaN,NaN,NaN,NaN,NaN,"Cinthya Carmona, Olivia Macklin, Emily Osment,..."
9908,Pretty Smart,\nComedy,NaN,\nAdd a Plot\n,NaN,NaN,NaN,NaN,NaN,NaN,"Robert Belushi, Cinthya Carmona, Olivia Mackli..."
9909,Pretty Smart,\nComedy,NaN,\nAdd a Plot\n,NaN,NaN,NaN,NaN,NaN,NaN,"Cinthya Carmona, Santana Dempsey, David Gridle..."
9910,Pretty Smart,\nComedy,NaN,\nAdd a Plot\n,NaN,NaN,NaN,NaN,NaN,Jody Margolin Hahn,"Cinthya Carmona, Olivia Macklin, Emily Osment,..."

In [101]:
''' 
8. Filter your data based on some condition. 
'''

movies.query('avg_rating > 9.0')

,title,genre,avg_rating,description,nb_votes,run_time,gross,year_start,year_end,director,stars
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,414849.0,23.0,NaN,2013.0,2013.0,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer..."
16,Breaking Bad,"Crime, Drama, Thriller",9.4,\nA high school chemistry teacher diagnosed wi...,1552311.0,49.0,NaN,2008.0,2013.0,NaN,"Bryan Cranston, Aaron Paul, Anna Gunn, Betsy B..."
104,Sherlock,"Crime, Drama, Mystery",9.1,\nA modern update finds the famous sleuth and ...,839029.0,88.0,NaN,2010.0,2017.0,NaN,"Benedict Cumberbatch, Martin Freeman, Una Stub..."
129,Avatar: The Last Airbender,"Animation, Action, Adventure",9.3,"\nIn a war-torn world of elemental magic, a yo...",265845.0,23.0,NaN,2005.0,2008.0,NaN,"Dee Bradley Baker, Zach Tyler, Mae Whitman, Ja..."
247,Hagane no renkinjutsushi,"Animation, Action, Adventure",9.1,\nTwo brothers search for a Philosopher's Ston...,134855.0,24.0,NaN,2009.0,2012.0,NaN,"Kent Williams, Iemasa Kayumi, Vic Mignogna, Ro..."
...,...,...,...,...,...,...,...,...,...,...,...
9890,Dexter,"Crime, Drama, Mystery",9.2,\nThe disappearance of a ten-year-old boy forc...,4205.0,57.0,NaN,2006.0,2013.0,Keith Gordon,"Michael C. Hall, Julie Benz, Jennifer Carpente..."
9891,Dexter,"Crime, Drama, Mystery",9.5,\nDexter must buy time to protect himself when...,5437.0,51.0,NaN,2006.0,2013.0,S.J. Clarkson,"Michael C. Hall, Julie Benz, Jennifer Carpente..."
9892,Dexter,"Crime, Drama, Mystery",9.8,\nDexter and Arthur find themselves on a colli...,11638.0,51.0,NaN,2006.0,2013.0,Steve Shill,"Michael C. Hall, Julie Benz, Jennifer Carpente..."
9895,Dexter,"Crime, Drama, Mystery",9.2,\nDexter gets some much-needed R&R time with R...,4256.0,55.0,NaN,2006.0,2013.0,John Dahl,"Michael C. Hall, Julie Benz, Jennifer Carpente..."
9900,Dexter,"Crime, Drama, Mystery",9.4,\nDexter learns more about Arthur's bizarre an...,5072.0,51.0,NaN,2006.0,2013.0,John Dahl,"Michael C. Hall, Julie Benz, Jennifer Carpente..."

In [103]:
'''
9. Convert all the string values to upper or lower cases in one column.
'''

movies.genre = movies.genre.str.lower()

movies.genre.head()

0        action, horror, thriller
1    animation, action, adventure
2         drama, horror, thriller
3    animation, adventure, comedy
4           action, crime, horror
Name: genre, dtype: object

In [118]:
'''
11. Group your dataset by one column, and get the mean, min, and max values by group. Groupby(), agg() or .apply()
'''

movies.groupby('year_end')[['avg_rating', 'nb_votes', 'gross']].agg(['mean', 'min', 'max']).sort_index(ascending = False)

         avg_rating                 nb_votes                      \
               mean  min  max           mean       min       max
year_end
2023.0          NaN  NaN  NaN            NaN       NaN       NaN
2022.0     8.425000  8.1  9.0  422388.500000  242582.0  885805.0
2021.0     7.092463  1.1  9.5    4172.653543       6.0  341858.0
2020.0     7.111338  2.5  9.9    5867.181296       5.0  459913.0
2019.0     6.999591  2.5  9.6    9285.094926       5.0  374263.0
...             ...  ...  ...            ...       ...       ...
1944.0     5.900000  5.9  5.9     690.000000     690.0     690.0
1941.0     7.200000  7.2  7.2  124409.000000  124409.0  124409.0
1938.0     5.200000  5.2  5.2      52.000000      52.0      52.0
1933.0     5.400000  5.4  5.4      36.000000      36.0      36.0
1932.0     6.550000  5.3  7.8   13212.000000      59.0   26365.0

                 gross
                  mean        min          max
year_end
2023.0             NaN        NaN          NaN
2022.0             NaN        NaN          NaN
2021.0             NaN        NaN          NaN
2020.0    4.700000e+06  4700000.0    4700000.0
2019.0    5.597118e+07    80000.0  390530000.0
...                ...        ...          ...
1944.0             NaN        NaN          NaN
1941.0    1.600000e+06  1600000.0    1600000.0
1938.0             NaN        NaN          NaN
1933.0             NaN        NaN          NaN
1932.0             NaN        NaN          NaN

[77 rows x 9 columns]

In [121]:
'''
12. Group your dataset by two columns and then sort the aggregated results within the groups. 
'''

movies.groupby(['year_start','year_end'])[['avg_rating', 'nb_votes', 'gross']].sum().sort_values(by = ['year_start','year_end'], ascending = False)

                     avg_rating   nb_votes      gross
year_start year_end
2023.0     2023.0           0.0        0.0        0.0
2022.0     2022.0           0.0        0.0        0.0
2021.0     2021.0        4751.8  2180210.0        0.0
2020.0     2021.0         387.1    31421.0        0.0
           2020.0       10151.6  6335168.0  4700000.0
...                         ...        ...        ...
1944.0     1944.0           5.9      690.0        0.0
1941.0     1941.0           7.2   124409.0  1600000.0
1938.0     1938.0           5.2       52.0        0.0
1933.0     1933.0           5.4       36.0        0.0
1932.0     1932.0          13.1    26424.0        0.0

[232 rows x 3 columns]

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset. What would you explore further with more time?

The data indicates a significant increase in the ratings and number of votes in movies / series that completed in recent years. It also seems that gross earnings has increased, though we have to assume that the MOST recent years (i.e. 2021+) suffer from missing data.

In terms of next steps, I'd be curious to see which genres, stars and directors are associated with higher grossing and higher rated films.